<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://textiles.alicjalucas.net:</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>https://textiles.alicjalucas.net:8172/MsDeploy.axd?site=alicja80-001-subsite4</MSDeployServiceURL>
    <DeployIisAppPath>alicja80-001-subsite4</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\alicja80-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="fibresInTextilesEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=sql6003.smarterasp.net;Initial Catalog=DB_A259CD_textiles;Persist Security Info=True;User ID=DB_A259CD_textiles_admin;Password=kojot123;TrustServerCertificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="fibresInTexilesMvc.Models.fibresInTextilesEntities, fibresInTexilesMvc" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)fibresInTextilesEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.FibresAndProdModel.csdl|res://*/Models.FibresAndProdModel.ssdl|res://*/Models.FibresAndProdModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sql6003.smarterasp.net;Initial Catalog=DB_A259CD_textiles;Persist Security Info=True;User ID=DB_A259CD_textiles_admin;Password=kojot123;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>