USE [fibresInTextiles]
GO
/****** Object:  Table [dbo].[fibres]    Script Date: 15/06/2017 13:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fibres](
	[FiberId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Category] [varchar](100) NOT NULL,
	[Picture1] [varbinary](max) NULL,
	[Description] [text] NULL,
	[Advantages] [text] NULL,
	[Disadvantages] [text] NULL,
	[Picture2] [varbinary](max) NULL,
 CONSTRAINT [PK_fibres] PRIMARY KEY CLUSTERED 
(
	[FiberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[products]    Script Date: 15/06/2017 13:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Picture] [text] NOT NULL,
	[Overview] [text] NULL,
	[FiberId] [int] NOT NULL,
 CONSTRAINT [PK_products_1] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[fibres] ON 

SET IDENTITY_INSERT [dbo].[fibres] OFF
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([ProductId], [Name], [Picture], [Overview], [FiberId]) VALUES (1, N'dress', N'aaa', NULL, 2)
INSERT [dbo].[products] ([ProductId], [Name], [Picture], [Overview], [FiberId]) VALUES (2, N'scarf', N'zzz', N'somedescr', 3)
INSERT [dbo].[products] ([ProductId], [Name], [Picture], [Overview], [FiberId]) VALUES (3, N'suit', N'bbb', N'descripodsuit', 4)
SET IDENTITY_INSERT [dbo].[products] OFF
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_fibres] FOREIGN KEY([FiberId])
REFERENCES [dbo].[fibres] ([FiberId])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_fibres]
GO
